h1,h2,h3,h4,h5,h6,.heading {
  color: var(--color);
  font-family: var(--primary-font);
}
h1 {
  @apply text-3xl;
  @screen md {
    @apply text-5xl;
  }
}
h2 {
  @apply text-base;
  @screen md {
    @apply text-xl;
  }
  @screen lg {
    @apply text-2xl;
  }
}
.sub-heading {
  font-family: var(--secondary-font);
  letter-spacing: 0.5rem;
}
.nuxt-content {
  h1,h2,h3,h4,h5,h6 {
    @apply font-black tracking-wide;

    font-family: var(--secondary-font);
    letter-spacing: 0.25rem;
  }
  h1 {
    @apply text-4xl pt-8;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  p {
    @apply mb-8 text-xl;
    @screen lg {
      @apply text-2xl;
    }
  }
  ul {
    @apply pb-2;
    li {
      @apply list-disc ml-8;
      p {
        @apply mb-2;
      }
    }
  }
}
