// raleway font from googlefonts
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@font-face {
  font-family: "SF Alien";
  src: local("Sf Alien"),
    url(~assets/fonts/sf-alien-encounters.solid.ttf);
}
:root {
  --color: #000;
  --color-primary: #f36;
  --color-secondary: #333;
  --bg: #fff;
  --bg-secondary: #fff;
  --border-color: #000;
  --border-color-secondary: #a7a7a7;
  --button-color: #f36;
  --button-text: white;
  --button-hover: rgb(161, 20, 49);
  --shadow-color: black;
  --overlay-color: hsla(0, 0%, 10%, 0.85);
  --overlay-color-hover: rgba(75, 75, 75, 0.3);
  --primary-font: 'SF Alien', serif;
  --secondary-font: 'Raleway', serif;
}
.dark-mode {
  --color: #fff;
  --color-primary: #fff;
  --color-secondary: #fff;
  --bg: #151110;
  --bg-secondary: #000;
  --border-color: #fff;
}
.light-mode {
  --color: #151110;
  --color-primary: #000;
  --color-secondary: #1a1a1a;
  --bg: #fff;
  --bg-secondary: #fff;
  --border-color: #000;
}
.primary-color {
  color: #f36;
}
h1,h2,h3,h4,h5,h6,.heading {
  color: var(--color);
  font-family: var(--primary-font);
}
h1 {
  @apply text-3xl;
  @screen md {
    @apply text-5xl;
  }
}
h2 {
  @apply text-base;
  @screen md {
    @apply text-xl;
  }
  @screen lg {
    @apply text-2xl;
  }
}
.sub-heading {
  font-family: var(--secondary-font);
  letter-spacing: 0.5rem;
}
body {
  font-family: var(--tertiary-font);
  // backgound color changes with mode variable
  background-color: var(--bg);
  // text color changes with mode variable
  color: var(--color);
  // smooth transition on mode changes
  transition: background-color 0.3s;
}
a {
  color: var(--color-primary);
}
p {
  line-height: 1.5;
}
button {
  color: var(--color);
  &:hover {
    cursor: pointer;
  }
}
input {
  outline: none;
}
.main-button {
  display: block;
  padding: 1rem 2rem;
  background: var(--button-color);
  color: var(--button-text);
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: var(--button-hover);
  }
}
.nuxt-content {
  h1,h2,h3,h4,h5,h6 {
    @apply font-black tracking-wide;

    font-family: var(--secondary-font);
    letter-spacing: 0.25rem;
  }
  h1 {
    @apply text-4xl pt-8;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  p {
    @apply mb-8 text-xl;
    @screen lg {
      @apply text-2xl;
    }
  }
  ul {
    @apply pb-2;
    li {
      @apply list-disc ml-8;
      p {
        @apply mb-2;
      }
    }
  }
  a {
    color: #f36;
  }
}